* {
  margin: 0;
  padding: 0;
}

.header_container {
  display: flex;

  justify-content: space-between;
  border: solid 1px black;
}

.title_container {
  display: flex;

  border: solid 1px red;
}

.menu_container {
  display: flex;

  list-style: none;
  border: solid 1px red;
}

.menu_container li {
  border: solid 1px blue;
}

.sns_container{
  display: flex;

  list-style: none;
  border: solid 1px red;
}

.sns_container li {
  border: solid 1px blue;
}

@media screen and (max-width: 768px) {
  .header_container {
    flex-direction: column;
  }

  .menu_container {
    flex-direction: column;

    align-items: center;
  }

  .sns_container {
    justify-content: center;
  }
}