@font-face {
  font-family: "BM_Jua";
  src: url("../fonts/BMJUA_otf.otf");
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: "BM_Jua";
}

h1, h2, h3 {
  font-weight: normal;
}

body {
  background-color: #f0e8d9;
  color: #58595b;
}

.header {
  margin-top: 75px;

  text-align: center;
}

.site_title {
  font-size: 64px;
}

.site_sub_title {
  margin-top: 30px;

  font-size: 32px;
}

.menu_container {
  margin-top: 75px;
}

.menu_info {
  width: 300px;
  margin: 0 auto 50px auto;

  background-color: whitesmoke;
  border-radius: 10px;
}

.menu_img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.menu_title_container {
  padding: 20px;
  text-align: center;
}

.menu_title {
  font-size: 32px;
}

.menu_sub_title {
  margin-top: 20px;
  text-align: left;
}

.menu_buy_link {  
  display:inline-block;
  
  margin-top: 20px;

  text-decoration: none;
}