* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;

  height: 6vh;
  width: 100vw;

  padding: 6px;
}

.header_container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;

  height: 100%;
  width: 100%;
  list-style: none;
}

.header_container li {
  padding: 12px 12px;
}

/*  */

#title_section {
  height: 29vh;
}

.title_container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;

  height: 100%;
}

/*  */

#search_section {
  height: 20vh;
}

.search_container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  height: 100%;
  padding: 20px;
}

.search_container ul {
  display: flex;
  flex-flow: row nowrap;

  padding-top: 18px;
  list-style: none;

}

.search_container li {
  padding: 12px 12px;
  background-color: #FAFAFA;
}

/*  */

#blank_section {
  height: 35vh;
}


.blank_space {
  height: 100%;
}

/*  */

footer {

  width: 100vw;
}

.footer_container {
  display: flex;
  flex-flow: column nowrap;
  /* align-content: flex-end; */
}

.footer_container div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  background-color: #f2f2f2;
  border-bottom: solid 1px #dcdcdc;
}

.footer-country {
  padding: 12px 12px;
}

.footer_container ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
}

.footer_container li {
  padding: 12px 12px;
}