:root {
  --main-color: #EF5350;
  --sub-color: #FF867C;
  --point-color: #b61827;

  --font-color: black;
  --point-font-color: whitesmoke;
}

@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: "roboto";
}

/* Default Design - Desktop View */
.main-header {
  height: 5rem;
  width: 100%;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background-color: var(--main-color);
}

.header-title {
  height: 100%;
  padding: 0 1rem 0 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  text-decoration: none;
  color: var(--font-color);
}

.header-title__icon {
  margin-right: 1rem;
  font-size: 2rem;
}

.header-title__title {
  white-space: nowrap;
}

.header-gnb__list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style-type: none;
}

.header-gnb li {
  margin: 0 0.5rem 0 0.5rem;
  padding: 0.5rem;

  border-radius: 0.5rem;
  font-size: 1.25rem;
}

.header-links {
  padding: 0 1rem 0 1rem;
}

.header-links__list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style-type: none;
}

.header-links__list li {
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;

  font-size: 20.25rem;
}

.header-links__list li i {
  color: var(--font-color);
}

.header-toggle-btn {
  display: none;
}

/* action */
.header-gnb li:hover {
  cursor: pointer;
  color: var(--point-font-color);
  background-color: var(--point-color);
}


/* Mobile View */
@media (max-width: 760.5rem) {
  .main-header {
    width: 100%;
    height: auto;

    flex-direction: column;
  }

  .header-title {
    height: 5rem;

    align-self: flex-start;
  }

  .header-gnb {
    width: 100%;
    display: none;
  }

  .header-gnb__list {
    width: 100%;
    flex-direction: column;
  }

  .header-gnb__list li {
    width: 100%;
    text-align: center;
  }

  .header-links {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: none;
  }

  .header-toggle-btn {
    display: block;
    position: absolute;
    top: 0.813rem;
    right: 1rem;

    padding: 0.5rem;
    font-size: 2rem;
  }

  /* action */
  .header-toggle-btn:hover {
    background-color: var(--point-color);
    cursor: pointer;
  }

  .header-gnb.active {
    display: block;
  }

  .header-gnb.active {
    display: block;
  }
}